body{
  padding: 30px;
}

.selectedLabel {
  background: #E1E4EA;
}

.labelContainer {
  display: flex;
}

.labelContainer > div {
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.listContainer {
  display: flex;
  padding: 20px 10px;
}